.interactable{
    height: 52px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #E4E5E7;
    background: #FBFBFB;
}
.interactable--label{
    margin-bottom: 12px;
    color: #222;
    font-size: 14px;
    opacity: 0.6;
}

/* custom-input */
.custom-input{
    position: relative;
}
.custom-input input{
    padding: 17px 20px;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    width: 100%;
    font-family: inherit;
}
.custom-input input[value=""]{
    color: #999999;
}
.custom-input:has(input:invalid){
    background-color: #ffdcdc;
    border-color: #ffdcdc;
}
.custom-input--tip{
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: calc(100% + 35px);
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid #f3a0a0;
    background-color: #fef6f6;
    color: #794747;
    text-align: center;
    font-size: 12px;
    transition: 0.2s all;
}
.custom-input--tip::after{
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fef6f6;
    border: 1px solid #f3a0a0;
    border-top: none;
    border-left: none;
    bottom: -4px;
    left: calc(50% - 3px);
    transform: rotate(45deg);
}
.custom-input input[type="date"]input[value=""]:hover ~ .custom-input--tip{
    opacity: 1;
    bottom: calc(100% + 10px);
}
.custom-input input:invalid:hover ~ .custom-input--tip{
    opacity: 1;
    bottom: calc(100% + 10px);
}
.custom-input input[type="date"]::-webkit-inner-spin-button,
.custom-input input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* checkbox */
.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.checkbox .checkbox--box{
    font-size: 12px !important;
    text-align: center;
    height: 18px;
    width: 18px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid #E4E5E7;
    color: transparent;
    transition: 0.2s all;
}
.checkbox.checked .checkbox--box{
    border-color: var(--colorPrimary_500);
    background-color: var(--colorPrimary_500);
    color: #FFFFFF;
}

.checkbox .checkbox--text{
    color: #999;
    padding-left: 8px;
}
.checkbox.checked .checkbox--text{
    color: #666;
}



/* dropdown */
.dropdown-list{
    position: relative;
    cursor: pointer;
}
.dropdown-list .dropdown-list--selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 20px;
    gap: 20px;
    height: 100%;
    color: #999999;
}
.dropdown-list .dropdown-list--selected--text{
    flex: 1;
}
.dropdown-list .dropdown-list--selected--text.selected{
    color: #222222;
}
.dropdown-list .dropdown-list--selected--arrow{
    width: 18px;
    height: 18px;
    min-width: 18px;
}
.dropdown-list .dropdown-list--selected--arrow > img{
    height: 100%;
    width: 100%;
}
.dropdown-list .dropdown-list--collapse{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    background: #fff;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 7px;
    overflow: hidden;
    transition: 0.2s all;
    z-index: 2;
}
.dropdown-list.active .dropdown-list--collapse{
    pointer-events: all;
    opacity: 1;
    transform: translateY(15px);
}
.dropdown-list .dropdown-list--collapse .dropdown-list--collapse--list{
    max-height: 400px;
    overflow-y: auto;
}
.dropdown-list .dropdown-list--collapse .dropdown-list--collapse--list > div{
    padding: 17px 20px;
    transition: 0.2s all;
}
.dropdown-list .dropdown-list--collapse .dropdown-list--collapse--list > div:hover{
    background-color: #f0f0f0;
}



/* file-picker */
.file-picker{
    position: relative;
    overflow: hidden;
    border-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23E4E5E7FF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.file-picker .file-picker--placeholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    cursor: pointer;
}
.file-picker .file-picker--placeholder--text{
    flex: 1;
    color: #999999;
}
.file-picker .file-picker--placeholder--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorPrimary_500);
    width: 52px;
    height: 52px;
    min-width: 52px;
}

.file-picker .file-picker--selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.file-picker .file-picker--selected--name{
    flex: 1;
    color: var(--colorPrimary_500);
}

.file-picker .file-picker--selected--icon,
.file-picker .file-picker--selected--clear{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    min-width: 52px;
}

.file-picker .file-picker--selected--icon{
    color: #16BB5B;
    font-size: 18px;
}
.file-picker .file-picker--selected--clear{
    cursor: pointer;
    transition: 0.2s all;
}
.file-picker .file-picker--selected--clear:hover{
    background-color: var(--colorSecondary_50);
}



/* tooltip */
.tooltip{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tooltip:hover .tooltip--collapse{
    opacity: 1;
    bottom: calc(100% + 10px);
}
.tooltip--collapse{
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: calc(100% + 35px);
    width: max-content;
    border-radius: 10px;
    border: 1px solid #A0D7F3;
    background-color: #F6FBFE;
    color: #5E5E58;
    text-align: center;
    font-size: 12px;
    z-index: 10;
    transition: 0.2s all;
}
.tooltip--collapse::after{
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #A0D7F3;
    background-color: #F6FBFE;
    border-top: none;
    border-left: none;
    bottom: -4px;
    transform: rotate(45deg);
}
.tooltip.center{
    justify-content: center;
}
.tooltip.center .tooltip--collapse::after{
    left: calc(50% - 3px);
}

.tooltip.left{
    justify-content: start;
}
.tooltip.left .tooltip--collapse{
    left: -13px;
}
.tooltip.left .tooltip--collapse::after{
    left: 17px;
}

.tooltip.right{
    justify-content: end;
}
.tooltip.right .tooltip--collapse{
    right: -13px;
}
.tooltip.right .tooltip--collapse::after{
    left: calc(100% - 23px);
}



/* global-loader */
.global-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    pointer-events: none;
    opacity: 0;
    transition: 0.2s all;
}
.global-loader.active{
    opacity: 1;
    pointer-events: all;
}
.global-loader .indicator{
    animation: global-loader-animation .75s linear infinite;
    border: 3px solid var(--colorPrimary_500);
    border-radius: 50%;
    border-right: 3px solid transparent;
    height: 46px;
    transition: all .2s;
    width: 46px;
}
@keyframes global-loader-animation {
    0%{
        transform: rotate(-1turn);
    }
}