*{
    box-sizing: border-box;
}
::-webkit-input-placeholder{
    color: #999999;
}
html{
    color: #222222;
    font-size: 14px;
    font-family: "Inter Regular";
}
#root{
    overflow-y: auto;
    overflow-x: hidden;
}
.questionnaire-route{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 80px;
}
.big-arrow{
    color: #000;
    font-size: 115px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: max-content;
    width: max-content;
    opacity: 0.5;
}
.big-arrow.down{
    transform: rotate(90deg);
}

.bank-item{
    margin-bottom: 60px;
}


@media (max-width: 991px) {
    .questionnaire-route{
        padding: 15px;
    }
}

@font-face {
	font-family: 'Inter Thin'; 
	src: url(/src/assets/fonts/inter/Inter-Thin.ttf); 
}

@font-face {
	font-family: 'Inter Light'; 
	src: url(/src/assets/fonts/inter/Inter-ExtraLight.ttf); 
}

@font-face {
	font-family: 'Inter Light'; 
	src: url(/src/assets/fonts/inter/Inter-Light.ttf); 
}

@font-face {
	font-family: 'Inter Regular'; 
	src: url(/src/assets/fonts/inter/Inter-Regular.ttf); 
}

@font-face {
	font-family: 'Inter Medium'; 
	src: url(/src/assets/fonts/inter/Inter-Medium.ttf); 
}
 
@font-face {
	font-family: 'Inter SemiBold'; 
	src: url(/src/assets/fonts/inter/Inter-SemiBold.ttf); 
}

@font-face {
	font-family: 'Inter Bold'; 
	src: url(/src/assets/fonts/inter/Inter-Bold.ttf); 
}

@font-face {
	font-family: 'Inter ExtraBold'; 
	src: url(/src/assets/fonts/inter/Inter-ExtraBold.ttf); 
}

@font-face {
	font-family: 'Inter Black'; 
	src: url(/src/assets/fonts/inter/Inter-Black.ttf); 
}