
:root{
    --colorPrimary_500: #5795FD;
    --colorPrimary_400: #43a1fc;
    --colorPrimary_300: #63b2fc;
    --colorPrimary_200: #90c8fe;
    --colorPrimary_100: #bbddfe;
    --colorPrimary_50: #e8f2fc;
    --colorPrimary_25: #F0F8FF;

    --colorSecondary_900: #2F3136;
    --colorSecondary_800: #42454d;
    --colorSecondary_700: #535863;
    --colorSecondary_600: #646b79;
    --colorSecondary_500: #727a8b;
    --colorSecondary_400: #888d9b;
    --colorSecondary_300: #9da2ac;
    --colorSecondary_200: #babcc2;
    --colorSecondary_100: #d6d7d8;
    --colorSecondary_50: #efefef;
    --colorSecondary_25: #f5f5f5;
}

.block-title{
    color: #222;
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 32px;
}

/* buttons */
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 7px;
    width: max-content;
    padding: 17px 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    position: relative;
    transition: 0.4s all;
}

.btn.btn-transparent{
    color: var(--colorPrimary_500);
    background-color: transparent;
}
.btn.btn-transparent:hover{
    background-color: var(--colorPrimary_25);
}
.btn.btn-transparent:active{
    background-color: var(--colorPrimary_50);
}


.btn.btn-primary{
    color: #ffffff;
    background-color: var(--colorPrimary_500);
}
.btn.btn-primary:hover{
    background-color: var(--colorPrimary_400);
}
.btn.btn-primary:active{
    background-color: var(--colorPrimary_300);
}


.btn.btn-secondary{
    color: #ffffff;
    background-color: var(--colorSecondary_200);
}
.btn.btn-secondary:hover{
    background-color: var(--colorSecondary_100);
}
.btn.btn-secondary:active{
    background-color: var(--colorSecondary_50);
}

.btn.btn-soft-danger{
    color: #f46a6a;
    background-color: rgba(244, 108, 108, .1);
}
.btn.btn-soft-danger:hover{
    color: #ffffff;
    background-color: #f46a6a;
}
.btn.btn-soft-danger:active{
    color: #ffffff;
    background-color: #e46161;
}

.btn.w-xxxs{
    min-width: 50px;
}
.btn.w-xxs{
    min-width: 65px;
}
.btn.w-xs{
    min-width: 80px;
}
.btn.w-sm{
    min-width: 95px;
}
.btn.w-md{
    min-width: 110px;
}
.btn.w-lg {
    min-width: 140px;
}

/* flex-direction */
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row;
}

/* justify content */
.justify-content-center{
    justify-content: center!important;
}
.justify-content-between{
    justify-content: space-between!important;
}
.justify-content-end{
    justify-content: flex-end!important;
}

/* align items */
.align-items-center{
    align-items: center!important;
}
.align-items-end{
    align-items: flex-end;
}

/* flex */
.f-1{
    flex: 1 !important;
}

/* margins */
.m-0{
    margin: 0!important;
}

.mt-auto{
    margin-top: auto;
}
.mt-0{
    margin-top: 0!important;
}
.mt-5{
    margin-top: 5px!important;
}
.mt-10{
    margin-top: 10px!important;
}
.mt-15{
    margin-top: 15px!important;
}
.mt-20{
    margin-top: 20px!important;
}
.mt-30{
    margin-top: 30px!important;
}

.ml-auto{
    margin-left: auto;
}
.ml-0{
    margin-left: 0!important;
}
.ml-5{
    margin-left: 5px!important;
}
.ml-10{
    margin-left: 10px!important;
}
.ml-15{
    margin-left: 15px!important;
}
.ml-20{
    margin-left: 20px!important;
}
.ml-30{
    margin-left: 30px!important;
}

.mr-auto{
    margin-right: auto;
}
.mr-0{
    margin-right: 0!important;
}
.mr-5{
    margin-right: 5px!important;
}
.mr-10{
    margin-right: 10px!important;
}
.mr-15{
    margin-right: 15px!important;
}
.mr-20{
    margin-right: 20px!important;
}
.mr-30{
    margin-right: 30px!important;
}

.mb-auto{
    margin-bottom: auto;
}
.mb-0{
    margin-bottom: 0!important;
}
.mb-5{
    margin-bottom: 5px!important;
}
.mb-10{
    margin-bottom: 10px!important;
}
.mb-15{
    margin-bottom: 15px!important;
}
.mb-20{
    margin-bottom: 20px!important;
}
.mb-30{
    margin-bottom: 30px!important;
}

/* rows */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.row > *{
    flex: 0 0 auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

/* columns */
.col{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.col-1{
    flex: 0 0 auto;
    width: 8.333333333333333%;
}
.col-2{
    flex: 0 0 auto;
    width: 16.66666666666667%;
}
.col-3{
    flex: 0 0 auto;
    width: 25%;
}
.col-4{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5{
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6{
    flex: 0 0 auto;
    width: 50%;
}
.col-7{
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8{
    flex: 0 0 auto;
    width: 66.66666666666667%;
}
.col-9{
    flex: 0 0 auto;
    width: 75%;
}
.col-10{
    flex: 0 0 auto;
    width: 83.33333333333333%;
}
.col-11{
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-12{
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 576px){
    .col-sm-1{
        flex: 0 0 auto;
        width: 8.333333333333333%;
    }
    .col-sm-2{
        flex: 0 0 auto;
        width: 16.66666666666667%;
    }
    .col-sm-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-sm-5{
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-8{
        flex: 0 0 auto;
        width: 66.66666666666667%;
    }
    .col-sm-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10{
        flex: 0 0 auto;
        width: 83.33333333333333%;
    }
    .col-sm-11{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-12{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 768px){
    .col-md-1{
        flex: 0 0 auto;
        width: 8.333333333333333%;
    }
    .col-md-2{
        flex: 0 0 auto;
        width: 16.66666666666667%;
    }
    .col-md-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-5{
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-md-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-8{
        flex: 0 0 auto;
        width: 66.66666666666667%;
    }
    .col-md-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10{
        flex: 0 0 auto;
        width: 83.33333333333333%;
    }
    .col-md-11{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-12{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 992px){
    .col-lg-1{
        flex: 0 0 auto;
        width: 8.333333333333333%;
    }
    .col-lg-2{
        flex: 0 0 auto;
        width: 16.66666666666667%;
    }
    .col-lg-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5{
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8{
        flex: 0 0 auto;
        width: 66.66666666666667%;
    }
    .col-lg-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10{
        flex: 0 0 auto;
        width: 83.33333333333333%;
    }
    .col-lg-11{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-12{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 1200px){
    .col-xl-1{
        flex: 0 0 auto;
        width: 8.333333333333333%;
    }
    .col-xl-2{
        flex: 0 0 auto;
        width: 16.66666666666667%;
    }
    .col-xl-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5{
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xl-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8{
        flex: 0 0 auto;
        width: 66.66666666666667%;
    }
    .col-xl-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10{
        flex: 0 0 auto;
        width: 83.33333333333333%;
    }
    .col-xl-11{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-12{
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 1400px){
    .col-xxl-1{
        flex: 0 0 auto;
        width: 8.333333333333333%;
    }
    .col-xxl-2{
        flex: 0 0 auto;
        width: 16.66666666666667%;
    }
    .col-xxl-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5{
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xxl-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8{
        flex: 0 0 auto;
        width: 66.66666666666667%;
    }
    .col-xxl-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10{
        flex: 0 0 auto;
        width: 83.33333333333333%;
    }
    .col-xxl-11{
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-12{
        flex: 0 0 auto;
        width: 100%;
    }
}